# driftfile
driftfile /var/lib/ntp/drift

# restrict
restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict -6 ::1
{{restrict}}

# server
{% for server in ntp_public_servers %}
server  {{server}}
{% endfor %}

